package layout

templ Footer() {
	<footer class="bg-white mt-16">
		<div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
			<div class="mt-8 text-center text-gray-400">
				<p>&copy; 2025 Manavore. Tous droits réservés.</p>
			</div>
		</div>
	</footer>
}