package components

import "github.com/manavore/grimoire/internal/components/layout"

templ Home() {
	@layout.Page("Home") {
		<div class="py-4 sm:py-24">
        <h1>Hello Grimoire</h1>
        </div>
	}
}